<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fuel Station Dashboard</title>
    <link rel="stylesheet" href="../public/style.css" />
    <!-- Đường dẫn CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Hoặc thêm Tailwind CDN -->
  </head>
  <body class="bg-gray-100 flex">
    <%- include('../partials/sidebar.ejs') %>
    <div class="flex-1 ml-64">
      <%- include('../partials/header.ejs') %>
      <main class="p-6">
        <h2 class="text-xl font-bold mb-4">Danh sách cây xăng</h2>
        <table
          class="table-auto w-full bg-white border border-gray-300 rounded-md shadow-md"
        >
          <thead class="bg-gray-200 text-left">
            <tr>
              <th class="p-2 border">#</th>
              <th class="p-2 border">Tên cây xăng</th>
              <th class="p-2 border">Địa chỉ</th>
              <th class="p-2 border">Thương Hiệu</th>
              <th class="p-2 border">Loại nhiên liệu</th>
              <th class="p-2 border">Thời gian</th>
              <th class="p-2 border">Trạng thái</th>
              <th class="p-2 border">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <% gasStations.forEach((station, index) => { %>
            <tr class="<%= index % 2 === 0 ? 'bg-gray-50' : 'bg-white' %>">
              <td class="p-2 border"><%= index + 1 %></td>
              <td class="p-2 border"><%= station.station_name %></td>
              <td class="p-2 border"><%= station.station_address %></td>
              <td class="p-2 border"><%= station.brand %></td>
              <td class="p-2 border"><%= station.services %></td>
              <td class="p-2 border"><%= station.open_hours %></td>
              <td class="p-2 border"><%= station.status %></td>
              <td class="p-2 border text-center">
                <a
                  href="/detail/<%= station.station_id %>"
                  class="text-green-500 hover:underline"
                  ><i class="fa-solid fa-eye"></i
                ></a>
                |
                <a
                  href="/edit/<%= station.station_id %>?_method=PUT"
                  class="text-blue-500 hover:underline"
                  ><i class="fa-solid fa-wrench"></i
                ></a>
                |
                <form
                  action="/delete/<%= station.station_id %>?_method=DELETE"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="text-red-500 hover:underline">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>
